body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #7DCE13, #82CD47, #379237);
    transition: width 0.3s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar.expanded {
    width: 250px;
}
.sidebar .top-section, .sidebar .middle-section, .sidebar .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .top-section {
    padding: 20px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.sidebar a, .dashboard-nav-dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}
.sidebar a:hover, .dashboard-nav-dropdown-toggle:hover {
    background-color: #575757;
}
.sidebar a .icon, .dashboard-nav-dropdown-toggle .icon {
    font-size: 24px;
    display: inline-block;
    width: 30px;
    text-align: center;
}
.sidebar a .text, .dashboard-nav-dropdown-toggle .text {
    margin-left: 10px;
    display: none;
}
.sidebar.expanded a .text, .sidebar.expanded .dashboard-nav-dropdown-toggle .text {
    display: inline;
}
.hamburger {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color:#656d07; */
    color: white;
    position: fixed;
    top: 0;
    left: 60px;
    transition: left 0.3s;
    z-index: 1;/
}
.sidebar.expanded + .hamburger {
    left: 250px;
}
.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.sidebar.expanded ~ .main-content {
    margin-left: 250px;
}
.dashboard-nav-dropdown-menu {
    display: none;
    flex-direction: column;
    padding-left: 30px;
}
.dashboard-nav-dropdown.active .dashboard-nav-dropdown-menu {
    display: flex;
}
.dashboard-nav-dropdown {
    width: 100%;
}
.dashboard-nav-dropdown-toggle {
    cursor: pointer;
}
.search-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding does not exceed the width */
}

.search-box {
    display: flex;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed 100% width */
}

#search-bar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none; /* Remove border from the right side to blend with the button */
    border-radius: 4px 0 0 4px; /* Rounded corners for left side */
}

#search-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 0 4px 4px 0; /* Rounded corners for right side */
}

#search-button img {
    width: 24px; /* Adjust the size of the search icon */
    height: 24px;
}
.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.item:hover {
    background-color: #ccc; /* Warna abu-abu */
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-right: 15px;
}

.item-info {
    flex: 1;
    
}

.item-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.item-info p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    align-self: flex-start;
}
.redeem-points {
    margin-top: auto; /* Menempatkan poin redeem paling bawah */
    font-size: 16px;
    color: #333;
    font-weight: bold;
}