body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #7DCE13, #82CD47, #379237);
    transition: width 0.3s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar.expanded {
    width: 250px;
}
.sidebar .top-section, .sidebar .middle-section, .sidebar .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .top-section {
    padding: 20px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.sidebar a, .dashboard-nav-dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}
.sidebar a:hover, .dashboard-nav-dropdown-toggle:hover {
    background-color: #575757;
}
.sidebar a .icon, .dashboard-nav-dropdown-toggle .icon {
    font-size: 24px;
    display: inline-block;
    width: 30px;
    text-align: center;
}
.sidebar a .text, .dashboard-nav-dropdown-toggle .text {
    margin-left: 10px;
    display: none;
}
.sidebar.expanded a .text, .sidebar.expanded .dashboard-nav-dropdown-toggle .text {
    display: inline;
}
.hamburger {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color:#656d07; */
    color: white;
    position: fixed;
    top: 0;
    left: 60px;
    transition: left 0.3s;
    z-index: 1;/
}
.sidebar.expanded + .hamburger {
    left: 250px;
}
.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.sidebar.expanded ~ .main-content {
    margin-left: 250px;
}
.dashboard-nav-dropdown-menu {
    display: none;
    flex-direction: column;
    padding-left: 30px;
}
.dashboard-nav-dropdown.active .dashboard-nav-dropdown-menu {
    display: flex;
}
.dashboard-nav-dropdown {
    width: 100%;
}
.dashboard-nav-dropdown-toggle {
    cursor: pointer;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #555;
}